/* змінні кольорів */
:root {
    /* head */
    --web: #2196F3;
    --head-studio: #000;
    --hover-color: #2196F3;
    --head-nav: #212121;
    --head-contacts: #757575;
    /* main */
    --white-color: #fff;
    --button: #2196F3;
    --bacraund-color: #2F303A;
    --main-titles: #212121;
    --text-color: #757575;
    --bottom-section-bg: #F5F4FA;
    --border-color-portfolio: #eee;
    /* footer */
    --foot-studio: #ffffff;
    --foot-adress: #FFFFFF;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrap{
    display: flex;
    
}

/* header */

.header{
    padding-bottom: 25px;
    padding-top: 25px;
}

.head-studio {
    color: var(--head-studio);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.head-web {
    color: var(--web);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.header-navigation-list{
    display: flex;
    
}

.navigation{
    
}

.header-nav {
    color: var(--head-nav);
    font-weight: 500;
    font-size: 14px;
}

.header-nav:hover,
.header-nav:focus {
    color: var(--hover-color);
    font-weight: 500;
    font-size: 14px;
}

.header-contacts-list{
    display: flex;
    
}

.header-contacts{
    color: var(--head-contacts);
    font-weight: 500;
    font-size: 14px;
    
}



.header-contacts:hover,
.header-contacts:focus ,
.header-contacts-email:hover,
.header-contacts-email:focus{
    color: var(--hover-color);
    font-weight: 500;
}

/* studio-main */
.main {}

.hero {
    background-color: var(--bacraund-color);
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title{
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 136%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-wrap{
    display: flex;
    justify-content: center;
}

.hero-btn{
    color: var(--white-color);
    background-color: var(--button);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.benefits{
    padding-top: 95px;
}

.benefits-card {

}

.benefits-title{
    color: var(--main-titles);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;

}

.benefits-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
}

.name-section {
    color: var(--main-titles);
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}

.work{
    padding-top: 118px;
    padding-bottom: 94px;
}

.work-card{
    
}

.work-img{
    width: 370px;
    height: 294px;
}

.team{
    background-color: var(--bottom-section-bg);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-card{
    
}

.team-wrap{
    background-color: var(--foot-adress);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-img{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.team-name{
    color: var(--main-titles);
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.profesion {
    color: var(--text-color);
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 16px;
    text-align: center;
}


/* portfolio main */
.project{
    padding-bottom: 95px;
    padding-top: 95px;

}

.main-filter {
    background-color: var(--bottom-section-bg);    
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 6px 25px ;
    margin-bottom: 50px;
}

.main-filter:hover {
    background-color: var(--hover-color);    
    font-weight: 500;
}

.main-card {
    border: 1px solid var(--border-color-portfolio);

}

.filter {

}

.card {
    
}

.card-photo {
    margin-bottom: 20px;
}

.card-name {
    color: var(--main-text);
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.card-type {
    color: var(--tex-color);
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}

/* footer */
.footer {
    background-color: var(--bacraund-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.foot-studio {
    color: var(--foot-studio);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;

}

.foot-web {
    color: var(--web);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

.geo {
    color: var(--foot-adress);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}

.foot-contacts {
    color: var(--foot-adress);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}
