/* змінні */
:root{
    /* head */
    --web:#2196F3;
    --head-studio:#000;
    --hover-color:#2196F3;
    --head-nav:#212121;
    --head-contacts:#757575;
    /* main */
    --filtr-coolor:#F5F4FA;
    --main-text:#212121;
    --tex-color:#757575;
    --card-backgraund-color:#EEEEEE;
    /* foot */
    --foot-studio:#ffffff;
    --foot-adress:#FFFFFF;
    --foot-bg:#2F303A;
}

/* font-family: 'Roboto', sans-serif;
   font-family: 'Raleway', sans-serif; */

/* прибирання зайвих символів */
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* основний код */

/* head */
.head-studio{
    color: var(--head-studio);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.head-web{
    color: var(--web);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.navigation{
    display: inline-block;
}



.header-nav{
    color: var(--head-nav);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.header-nav:hover,
.header-nav:focus{
    color: var(--hover-color); 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header-contacts{
    color: var(--head-contacts);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header-contacts:hover,
.header-contacts:focus{
    color: var(--hover-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/* main */
.main-filter{
    background-color: var(--filtr-coolor);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.main-filter:hover{
    background-color: var(--hover-color);
    color: var(--foot-adress);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.main-card{
    display: inline-block;
    border: solid 1px var(--card-backgraund-color);
}

.filter{
    display: inline-block;
}

.card{
    
}

.card-photo{

}

.card-name{
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card-type{
    color: var(--tex-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* foot */
footer{
    background-color: var(--foot-bg);
}

.sitename{
    color: var(--foot-studio);
    
}

.SiteName{
    color: var(--web);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.geo{
    color: var(--foot-adress);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contacts{
    color: var(--foot-adress);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}