/* змінні кольорів */
:root {
    /* head */
    --web: #2196F3;
    --head-studio: #000;
    --hover-color: #2196F3;
    --head-nav: #212121;
    --head-contacts: #757575;
    /* main */
    --white-color: #fff;
    --button: #2196F3;
    --bacraund-color: #2F303A;
    --main-titles: #212121;
    --text-color: #757575;
    --bottom-section-bg: #F5F4FA;
    /* footer */
    --foot-studio: #ffffff;
    --foot-adress: #FFFFFF;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

/* прибирання зайвих символів */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */
.head-studio {
    color: var(--head-studio);
    display: inline-block;
    font-family: 'Raleway', sans-serif;

}

.head-web {
    color: var(--web);
    display: inline-block;
    font-family: 'Raleway', sans-serif;

}



.header-nav {
    color: var(--head-nav);
    font-weight: 500;
}

.header-nav:hover,
.header-nav:focus {
    color: var(--hover-color);
    font-weight: 500;
}

.header-contacts {
    color: var(--head-contacts);
    font-weight: 500;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--hover-color);
    font-weight: 500;
}

/* main */
.main {}

.bg {
    background-color: var(--bacraund-color);
    width: 1600px;
    height: 600px;
}

.main-text {
    color: var(--white-color);
    font-weight: 900;
}

.btn {
    color: var(--white-color);
    background-color: var(--button);
    font-weight: 700;
}

.advantages {
    display: inline-block;
    height: 98px;
    width: 270px;
}

.pryoryty {
    color: var(--main-titles);
    font-weight: 700;
}

.text {
    color: var(--text-color);
    font-weight: 400;
}

.name-section {
    color: var(--main-titles);
    font-weight: 700;
}

.card {
    display: inline-block;
}

.our-worck {}

.section-bg {
    background-color: var(--bottom-section-bg);
}

.card-our-team {
    background-color: var(--white-color);
    display: inline-block;
}

.team {
    width: 270px;
    height: 260px;
}

.name {
    color: var(--main-titles);
    font-weight: 500;
}

.profesion {
    color: var(--text-color);
    font-weight: 400;
}

/* footer */
.footer {
    background-color: var(--bacraund-color);
}

.foot-studio {
    color: var(--foot-studio);
    font-family: Raleway;
    font-weight: 700;
}

.foot-web {
    color: var(--web);
}

.geo {
    color: var(--foot-adress);
    font-family: Roboto;
    font-weight: 400;
}

.foot-contacts {
    color: var(--foot-adress);
    font-family: Roboto;
    font-weight: 400;
}